{
'"' = '&#712;';
'%' = '&#716;';
'A' = '&#593;';
'O' = '&#596;';
'3' = '&#604;';
'E' = '&#603;';
'D' = '&#240;';
'T' = '&#952;';
'X' = '&#967;';
'N' = '&#331;';
'W' = '&#653;';
'K' = '&#620;';
'L' = 'l&#801;';
'l_0' = 'l&#805;';
'r_0' = '&#633;&#805;';
'w_0' = 'w&#805;';
'r=' = 'r&#809;';
'l=' = 'l&#809;';
'n=' = 'n&#809;';
'.'  = '.';
':/' = '&#721;';
':'  = '&#720;';
}